*.bat
*.cache
*.cfg
*.inf
*.rad
*.raw
*.res
*.txt
*.vbsp
/addons/metamod.vdf
/addons/metamod/
/addons/sourcemod/bin/
/addons/sourcemod/configs/geoip/
/addons/sourcemod/configs/sql-init-scripts/
/addons/sourcemod/configs/*.cfg
/addons/sourcemod/configs/*.txt
/addons/sourcemod/configs/*.ini
/addons/sourcemod/data/
/addons/sourcemod/extensions/
/addons/sourcemod/gamedata/
/addons/sourcemod/logs/
!/addons/sourcemod/plugins/freak_fortress_2.smx
!/addons/sourcemod/scripting/freaks/
!/addons/sourcemod/scripting/include/
!/addons/sourcemod/scripting/freak_fortress_2.sp
/addons/sourcemod/translations/*/
!/addons/sourcemod/translations/freak_fortress_2_phrases.txt
/addons/sourcemod/.hg_archival.txt
/bin/
!/cfg/sourcemod/FreakFortress2.cfg
/cfg/*.cfg
/cfg/*.rc
/cfg/*.scr
/cfg/*.txt
/DownloadLists/
/downloads/
/expressions/
/maps/
!/materials/freak_fortress_2/
!/models/freak_fortress_2/
/particles/
/readme/
/replay/
/resource/
/scenes/
/scripts/
/servers/
!/sound/freak_fortress_2/
!/sound/saxton_hale/