#This is so you can put this repo in your server directory without stuff blowing up :)
/*.bat
/*.cache
/*.cfg
/*.inf
/*.rad
/*.raw
/*.res
/*.txt
/*.vbsp
/*.vdf
#METAMOD/SOURCEMOD
/addons/metamod/
/addons/metamod.vdf
/addons/sourcemod/bin/
#CONFIGS
/addons/sourcemod/configs/geoip/
/addons/sourcemod/configs/sql-init-scripts/
/addons/sourcemod/configs/freak_fortress_2/readme/
/addons/sourcemod/configs/*.cfg
/addons/sourcemod/configs/*.txt
/addons/sourcemod/configs/*.ini
#RANDOM STUFF
/addons/sourcemod/data/
/addons/sourcemod/extensions/
/addons/sourcemod/gamedata/
/addons/sourcemod/logs/
#PLUGINS
/addons/sourcemod/plugins/disabled/
/addons/sourcemod/plugins/freaks/
/addons/sourcemod/plugins/a*.smx
/addons/sourcemod/plugins/b*.smx
/addons/sourcemod/plugins/c*.smx
/addons/sourcemod/plugins/f*.smx
/addons/sourcemod/plugins/p*.smx
/addons/sourcemod/plugins/n*.smx
/addons/sourcemod/plugins/s*.smx
/addons/sourcemod/plugins/r*.smx
/addons/sourcemod/plugins/t*.smx
#CODE
/addons/sourcemod/scripting/a*/
/addons/sourcemod/scripting/b*/
/addons/sourcemod/scripting/compiled/
/addons/sourcemod/scripting/f*/
/addons/sourcemod/scripting/include/
/addons/sourcemod/scripting/playercommands/
/addons/sourcemod/scripting/testsuite/
/addons/sourcemod/scripting/a*.sp
/addons/sourcemod/scripting/b*.sp
/addons/sourcemod/scripting/c*.*
/addons/sourcemod/scripting/fun*.sp
/addons/sourcemod/scripting/ff2*.sp
/addons/sourcemod/scripting/m*.sp
/addons/sourcemod/scripting/n*.sp
/addons/sourcemod/scripting/p*.sp
/addons/sourcemod/scripting/r*.sp
/addons/sourcemod/scripting/s*.*
/addons/sourcemod/scripting/t*.sp
#TRANSLATIONS
/addons/sourcemod/translations/*/
/addons/sourcemod/translations/a*.txt
/addons/sourcemod/translations/b*.txt
/addons/sourcemod/translations/c*.txt
/addons/sourcemod/translations/fun*.txt
/addons/sourcemod/translations/mapchooser.phrases.txt
/addons/sourcemod/translations/n*.txt
/addons/sourcemod/translations/p*.txt
/addons/sourcemod/translations/r*.txt
/addons/sourcemod/translations/s*.txt
/addons/sourcemod/.hg_archival.txt
#RANDOM STUFF
/bin/
#MOAR RANDOM STUFF
/bz2/maps/
#CONFIGS
/cfg/sourcemod/f*.cfg
/cfg/sourcemod/r*.cfg
/cfg/sourcemod/s*.cfg
/cfg/*.cfg
/cfg/*.rc
/cfg/*.scr
/cfg/*.txt
#RANDOM STUFF FTW
/DownloadLists/
/downloads/
/expressions/
#MAPS
/maps/
#MATERIALS
/materials/a*/
/materials/b*/
/materials/c*/
/materials/d*/
/materials/e*/
/materials/g*/
/materials/h*/
/materials/i*/
/materials/k*/
/materials/l*/
/materials/m*/
/materials/n*/
/materials/o*/
/materials/p*/
/materials/r*/
/materials/s*/
/materials/t*/
/materials/v*/
/materials/w*/
#MODELS
/models/b*/
/models/c*/
/models/e*/
/models/flag/
/models/h*/
/models/i*/
/models/l*/
/models/o*/
/models/pl*/
/models/player/g*/
/models/player/h*/
/models/player/i*/
/models/player/d*.*
/models/player/e*.*
/models/player/h*.*
/models/player/m*.*
/models/player/p*.*
/models/player/s*.*
/models/pr*/
/models/py*/
/models/t*/
/models/v*/
/models/w*/
/models/a*.*
/models/e*.*
#RANDOM STUFF
/particles/
/readme/
/replay/
/resource/
/scenes/
/scripts/
/servers/
#SOUNDS
/sound/a*/
/sound/c*/
/sound/d*/
/sound/i*/
/sound/m*/
/sound/p*/
/sound/r*/
/sound/u*/
/sound/v*/
/sound/w*/