#This is so you can put this repo in your server directory without stuff blowing up :)
*.ztmp
/*.bat
/*.cache
/*.cfg
/*.inf
/*.rad
/*.raw
/*.res
/gameinfo.txt
/item_whitelist_example.txt
/mapcycle.txt
/stats.txt
/umc_mapcycle.txt
/*.vbsp
/*.vdf
/*.vpk
#METAMOD/SOURCEMOD/STRIPPER
/addons/metamod/
/addons/metamod.vdf
/addons/sourcemod/bin/
/addons/stripper/
#SOURCEMOD CONFIGS
/addons/sourcemod/configs/geoip/
/addons/sourcemod/configs/sql-init-scripts/
/addons/sourcemod/configs/freak_fortress_2/readme/
/addons/sourcemod/configs/*.cfg
/addons/sourcemod/configs/*.txt
/addons/sourcemod/configs/*.ini
#SOURCEMOD RANDOM STUFF
/addons/sourcemod/data/
/addons/sourcemod/extensions/
/addons/sourcemod/gamedata/
/addons/sourcemod/logs/
#SOURCEMOD PLUGINS
/addons/sourcemod/plugins/disabled/
/addons/sourcemod/plugins/a*.smx
/addons/sourcemod/plugins/b*.smx
/addons/sourcemod/plugins/c*.smx
/addons/sourcemod/plugins/d*.smx
/addons/sourcemod/plugins/fun*.smx
/addons/sourcemod/plugins/p*.smx
/addons/sourcemod/plugins/n*.smx
/addons/sourcemod/plugins/s*.smx
/addons/sourcemod/plugins/r*.smx
/addons/sourcemod/plugins/t*.smx
/addons/sourcemod/plugins/u*.smx
/addons/sourcemod/plugins/w*.smx
#SOURCEMOD CODE
/addons/sourcemod/scripting/a*/
/addons/sourcemod/scripting/b*/
/addons/sourcemod/scripting/compiled/
/addons/sourcemod/scripting/f*/
/addons/sourcemod/scripting/include/
/addons/sourcemod/scripting/playercommands/
/addons/sourcemod/scripting/testsuite/
/addons/sourcemod/scripting/a*.sp
/addons/sourcemod/scripting/b*.sp
/addons/sourcemod/scripting/c*.*
/addons/sourcemod/scripting/fun*.sp
/addons/sourcemod/scripting/ff2*.sp
/addons/sourcemod/scripting/m*.sp
/addons/sourcemod/scripting/n*.sp
/addons/sourcemod/scripting/p*.sp
/addons/sourcemod/scripting/r*.sp
/addons/sourcemod/scripting/s*.*
/addons/sourcemod/scripting/t*.sp
/addons/sourcemod/scripting/w*.sp
#SOURCEMOD TRANSLATIONS
/addons/sourcemod/translations/*/
/addons/sourcemod/.hg_archival.txt
/addons/sourcemod/translations/a*.txt
/addons/sourcemod/translations/b*.txt
/addons/sourcemod/translations/c*.txt
/addons/sourcemod/translations/fun*.txt
/addons/sourcemod/translations/mapchooser.phrases.txt
/addons/sourcemod/translations/n*.txt
/addons/sourcemod/translations/p*.txt
/addons/sourcemod/translations/r*.txt
/addons/sourcemod/translations/s*.txt
/addons/sourcemod/translations/u*.txt
/addons/sourcemod/translations/w*.txt
#RANDOM STUFF
/bin/
#MOAR RANDOM STUFF
/bz2/maps/
#CONFIGS
/cfg/sourcemod/c*.cfg
/cfg/sourcemod/f*.cfg
/cfg/sourcemod/p*.cfg
/cfg/sourcemod/r*.cfg
/cfg/sourcemod/s*.cfg
/cfg/sourcemod/u*.cfg
/cfg/*.cfg
/cfg/*.rc
/cfg/*.scr
/cfg/*.txt
#CUSTOM
/custom/readme.txt
#RANDOM STUFF FTW
/download/
/downloadlists/
#MAPS
/maps/
#MATERIALS
/materials/a*/
/materials/b*/
/materials/c*/
/materials/d*/
/materials/e*/
/materials/g*/
/materials/h*/
/materials/i*/
/materials/k*/
/materials/l*/
/materials/m*/
/materials/n*/
/materials/o*/
/materials/p*/
/materials/r*/
/materials/s*/
/materials/t*/
/materials/v*/
/materials/w*/
#MEDIA?
/media/
#MODELS
/models/b*/
/models/c*/
/models/e*/
/models/flag/
/models/h*/
/models/i*/
/models/l*/
/models/o*/
/models/pl*/
/models/player/g*/
/models/player/h*/
/models/player/i*/
/models/player/d*.*
/models/player/e*.*
/models/player/h*.*
/models/player/m*.*
/models/player/p*.*
/models/player/s*.*
/models/pr*/
/models/py*/
/models/t*/
/models/v*/
/models/w*/
/models/a*.*
/models/e*.*
#RANDOM STUFF
/replay/
/resource/
/scripts/
#SOUNDS
/sound/a*/
/sound/c*/
/sound/d*/
/sound/i*/
/sound/m*/
/sound/p*/
/sound/r*/
/sound/u*/
/sound/v*/
/sound/w*/